*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
.main{
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: #fff;
    border-radius: 1rem;
    width: 600px;
    height: 500px;
    padding: 15px;

}
h2{
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.input-group{
    display: flex;
    margin-bottom: 15px;
}
#text-input-field{
    width: 100%;
    padding:10px;
font-weight: bold;
letter-spacing: 2px;
    font-size:25px;

}
#add-button{
    padding: 7px 9px;
    border: none;
    background-color: rgb(44, 43, 2);
    font-size: 2opx;
    color: #fff;

}
.todo-item-container{
    display: flex;
    margin-bottom: 6px;

}
#todo-text{
    font-size: 20px;
    letter-spacing: 1.5px;

}
.line-through{
    text-decoration: line-through;
    user-select: none;

}
#edit-btn,
#delete-btn{
    padding:7px;
background-color: transparent;
}